.banana {
    grid-area: top;
}
.cucumber {
    grid-area: subright;
}
.pepper {
    grid-area: subleft;
}
.apple {
    grid-area: menuleft;
}
.tomato {
    grid-area: bottomleft;
}
.celeriac {
    grid-area: bottomcenterleft;
}
.dragonfruit {
    grid-area: bottomcenterright;
}
.aubergine {
    grid-area: bottomright;
}
.chanterelle {
    grid-area: below;
}

.container {
    background-color: rgb(0, 0, 110);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.item {
    background-color: rgb(0, 150, 0);
    border: 1px solid;
    border-color: black;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.fruit {
    height: 9rem;
    width: 12rem;
    transition: 1s ease-in-out;
}

@supports (scale: 1.5) {
    .fruit:hover {
        scale: 1.5;
        border-radius: 20%;
    }
}